@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

